.App {
    font-family: sans-serif;
    text-align: center;
}

.link {
    color: #fff;
}

.link:hover {
    color: #fff;
}

.column {
    float: left;
    width: 25%;
    background-color: blueviolet;
}

.column1 {
    margin-left: 5%;
    float: left;
    width: 15%;
}

.column2 {
    margin-left: 8%;
    float: left;
    width: 18%;
}

/* Stops the float property from affecting content after the columns */
.columns:after {
    content: "";
    display: table;
    clear: both;

}

.titre {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.nom {
    font-weight: bold;
    text-align: center;
    font-size: 0.75em;
    color: #fff;
}

.card-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.card-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.card-title2 {
    text-align: center;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}


.search {
    float: right;
}