.App {
    font-family: sans-serif;
    text-align: center;
}

.link {
    color: #fff;
}

.link:hover {
    color: #fff;
}

.titre {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.titreHeader {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    color: #fff;
}


.nom {
    font-weight: bold;
    text-align: center;
    font-size: 0.75em;
    color: #fff;
}

.card-title {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.card-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.card-name {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.card-title2 {
    text-align: center;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.row {
    justify-content: center;
}

.rows {
    background-color: blueviolet;
}


.nameRow {
    font-weight: bold;
    text-align: center;
    font-size: 2.6em;
    color: rgb(0, 0, 0);
}

.fond {
    background-color: blanchedalmond;
}